%tr
  %td
    =link_to '#', data: { rq_id: rq.id }, class: 'show-raw-rq-btn', id: "rq_#{rq.id}" do
      .glyphicon.glyphicon-plus
  %td= rq.created_at.strftime('%d/%m %H:%M:%S')
  %td= rq.ip
  %td= rq.user_agent
  %td= rq.method
  %td= rq.rq['url'] if rq.rq
  %td= rq.comment
  %td.text-danger
    =link_to delete_rq_path(rq), :method => :delete, remote: true do
      .glyphicon.glyphicon-remove
%tr.hidden{ id: "rq-raw-#{rq.id}"}
  %td{ colspan: 8 }= rq.rq
