!!!
%html
  %head
    %title Request Trapper
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "#{ENV['WHERE_MY_FAYE']}/fafa/client.js"
    = csrf_meta_tags
  %body
    = yield
